
ipykernel
python-dotenv
pypdf
langchain_community
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-community 
langchain-openai
chromadb
sentence_transformers 
langchain_huggingface
faiss-cpu
langchain_chroma
langchain
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse-starlette
langserve[all]
transformers
langchain_google_genai
huggingface_hub  ##api call
torch
accelerate
bitsandbytes
chainlit
ollama
pymupdf
pdfminer.six